includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - routes
        - tests

    level: 9

    ignoreErrors:
        -
            message: '#Call to an undefined method Pest\\PendingCalls\\TestCall::\w+\(\)\.#'
            path: tests/*.php
            reportUnmatched: true
